body,html{
    height: 100%;
    margin: 0;
    background-image: "./yoga-bg1.jpg";
}

.container{
    position: relative;
    text-align: left;
    color: white;
}

.text-block {
    position: absolute;
    top: 120px;
    left: 16px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2rem;
    text-align: center;
  }

.card-image{
    vertical-align: middle;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}


.bg-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
}
.column {
    float: left;
    width: 30%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {
      margin-left: 2%;
      position: absolute;
      bottom: 0px;
    right: 16px;
        top:100%;
    }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: rgb(78, 21, 109);
    color: white;
    border-radius: 1rem;
  }
  

  /* Button -style */
  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #44318D;
    border: none;
    border-radius: 15px;
    border-color: white;
  }
  
  .button:hover {background-color: #3659cc}
  
  .button:active {
    background-color: #4e3cf5;
    box-shadow: 0 5px #666;
    transform: translateY(4px); 
  }

  .navigation {
    background-color: #44318D;
    padding: 2rem 2rem;
    color: #292524;
    font-size: larger;
    font-weight: bold;
  }

  .footer {
    background-color:#44318D;
    padding: 2rem 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    color: white;
    text-align: center;
    font-size: large;
    margin-bottom: 0%;
    margin-right: 0%;
    position: absolute;
    /* bottom: 8px;
    right: -3px; */
    top: 180%;
    width: 100%;
    height: 3rem;    
  }

  .footer .footer-header {
    font-size: large;
    font-weight: bold;
  }

  .list-no-bullet{
    list-style: none;
  }

  .list-for-itemInline {
    display: inline;
    padding: 0rem 0.5rem;
  }

  .footer .sm{
    color: white;
    text-decoration: none;
  }
  .link{
    text-decoration: none;
  }